language : cpp
dist: trusty
env:
  - DISPLAY=:99.0
compiler:
  - gcc
before_install:
    - export GOPATH=`pwd`/gosrc
    - export PATH=`pwd`/gosrc/bin:$PATH
    - go get qpm.io/qpm
    - find $GOPATH
    - sh -e /etc/init.d/xvfb start
script:
    - git clone https://github.com/benlau/qtci.git
    - source qtci/path.env
    - qt-5.8.0
    - source qt-5.8.0.env
    - mkdir build
    - cd build
    - run-unittests ../tests/sparkqmltests/sparktests.pro
    - valgrind --num-callers=30 --leak-check=full --track-origins=yes ./sparkqmltests test_AppView

